@charset "UTF-8";

body {
    background-color: rgb(218, 160, 16);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: rgb(255, 192, 75) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1#principal {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: rgb(255, 169, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}